@import '../abstracts/functions';

.container {
    margin-left: rem(35);
    margin-right: rem(35);

    @include breakpoint(desktop) {
        margin-left: rem(160);
        margin-right: rem(160);
    }

 
}